body {
    background-color: grey;
    margin:0 auto;

}


header {
    margin:0 auto;
    width: 850px
}

#bigRectangle {
    background-color: blue;
    height: 300px;

}

h1 {

    color: white;
    vertical-align: bottom;
}


h2 {
    color: white;
}

#h1h2 {

    position: relative;
    top: 200px;
    
    left: 150px;

}


#thinRectangle {
    background-color:white;
    width: 850px;
    height: 75px;

}


header {
    width: 850px;
}

li {
    display: inline;
}

ul {
    margin: 0;
    margin-left: 115px;
    padding-top: 30px;
    
}

#photoSquare {
    border: 1px solid black;
    width: 125px;
    height: 125px;
    margin-top: 100px;
    position:  relative;
    margin-left: 15px;
    background-color: navy;

}

main {
    margin: 0 auto;
    width: 850px;
    display: flex;
    justify-content: space-between;
}


#column-1 {

    width: 328px;
    height: 900px;
    border: 1px solid black;
    display: inline-block;


}




#column-2 {
    width: 512px;
    height: 900px;
    border: 1px solid black; 
    display: inline-block;
}


#box-1a {
    text-align: center;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    
}


#box-2a {
    text-align: center;
    width: 300px;
    height: 200px;
    border: 1px solid black; 
}



